nav ul li div {
    list-style: none;
    display: inline;
    text-align: center;
    height: 80px;
}

nav ul li {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 1rem;
    height: 80px;
}

nav {
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-areas: "img . . . . . . . . .""img dog cat bird smallpet aquarium reptile horses products about""img . . . . . . . . .";
}

#img {
    grid-area: img;
}

#dog {
    grid-area: dog;
}